<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newcore.electronic.commerce.atom.persistence.generate.CommodityPropertiesMapper">
  <resultMap id="BaseResultMap" type="com.newcore.electronic.commerce.base.model.generate.CommodityProperties">
    <id column="commodity_properties_id" jdbcType="INTEGER" property="commodityPropertiesId" />
    <result column="commodity_properties_serial" jdbcType="VARCHAR" property="commodityPropertiesSerial" />
    <result column="commodity_properties_name" jdbcType="VARCHAR" property="commodityPropertiesName" />
    <result column="commodity_properties_type" jdbcType="INTEGER" property="commodityPropertiesType" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    commodity_properties_id, commodity_properties_serial, commodity_properties_name, 
    commodity_properties_type, del_flag, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPropertiesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from COMMODITY_PROPERTIES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from COMMODITY_PROPERTIES
    where commodity_properties_id = #{commodityPropertiesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from COMMODITY_PROPERTIES
    where commodity_properties_id = #{commodityPropertiesId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPropertiesExample">
    delete from COMMODITY_PROPERTIES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityProperties">
    insert into COMMODITY_PROPERTIES (commodity_properties_id, commodity_properties_serial, 
      commodity_properties_name, commodity_properties_type, 
      del_flag, create_time, update_time
      )
    values (#{commodityPropertiesId,jdbcType=INTEGER}, #{commodityPropertiesSerial,jdbcType=VARCHAR}, 
      #{commodityPropertiesName,jdbcType=VARCHAR}, #{commodityPropertiesType,jdbcType=INTEGER}, 
      #{delFlag,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityProperties">
    insert into COMMODITY_PROPERTIES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commodityPropertiesId != null">
        commodity_properties_id,
      </if>
      <if test="commodityPropertiesSerial != null">
        commodity_properties_serial,
      </if>
      <if test="commodityPropertiesName != null">
        commodity_properties_name,
      </if>
      <if test="commodityPropertiesType != null">
        commodity_properties_type,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commodityPropertiesId != null">
        #{commodityPropertiesId,jdbcType=INTEGER},
      </if>
      <if test="commodityPropertiesSerial != null">
        #{commodityPropertiesSerial,jdbcType=VARCHAR},
      </if>
      <if test="commodityPropertiesName != null">
        #{commodityPropertiesName,jdbcType=VARCHAR},
      </if>
      <if test="commodityPropertiesType != null">
        #{commodityPropertiesType,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPropertiesExample" resultType="java.lang.Integer">
    select count(*) from COMMODITY_PROPERTIES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update COMMODITY_PROPERTIES
    <set>
      <if test="record.commodityPropertiesId != null">
        commodity_properties_id = #{record.commodityPropertiesId,jdbcType=INTEGER},
      </if>
      <if test="record.commodityPropertiesSerial != null">
        commodity_properties_serial = #{record.commodityPropertiesSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityPropertiesName != null">
        commodity_properties_name = #{record.commodityPropertiesName,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityPropertiesType != null">
        commodity_properties_type = #{record.commodityPropertiesType,jdbcType=INTEGER},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update COMMODITY_PROPERTIES
    set commodity_properties_id = #{record.commodityPropertiesId,jdbcType=INTEGER},
      commodity_properties_serial = #{record.commodityPropertiesSerial,jdbcType=VARCHAR},
      commodity_properties_name = #{record.commodityPropertiesName,jdbcType=VARCHAR},
      commodity_properties_type = #{record.commodityPropertiesType,jdbcType=INTEGER},
      del_flag = #{record.delFlag,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityProperties">
    update COMMODITY_PROPERTIES
    <set>
      <if test="commodityPropertiesSerial != null">
        commodity_properties_serial = #{commodityPropertiesSerial,jdbcType=VARCHAR},
      </if>
      <if test="commodityPropertiesName != null">
        commodity_properties_name = #{commodityPropertiesName,jdbcType=VARCHAR},
      </if>
      <if test="commodityPropertiesType != null">
        commodity_properties_type = #{commodityPropertiesType,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where commodity_properties_id = #{commodityPropertiesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityProperties">
    update COMMODITY_PROPERTIES
    set commodity_properties_serial = #{commodityPropertiesSerial,jdbcType=VARCHAR},
      commodity_properties_name = #{commodityPropertiesName,jdbcType=VARCHAR},
      commodity_properties_type = #{commodityPropertiesType,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where commodity_properties_id = #{commodityPropertiesId,jdbcType=INTEGER}
  </update>
</mapper>