<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newcore.electronic.commerce.atom.persistence.generate.CommodityPropertiesValuesMapper">
  <resultMap id="BaseResultMap" type="com.newcore.electronic.commerce.base.model.generate.CommodityPropertiesValues">
    <id column="commodity_properties_values_id" jdbcType="INTEGER" property="commodityPropertiesValuesId" />
    <result column="commodity_properties_id" jdbcType="INTEGER" property="commodityPropertiesId" />
    <result column="commodity_properties_values_serial" jdbcType="VARCHAR" property="commodityPropertiesValuesSerial" />
    <result column="commodity_properties_value" jdbcType="VARCHAR" property="commodityPropertiesValue" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    commodity_properties_values_id, commodity_properties_id, commodity_properties_values_serial, 
    commodity_properties_value, remark, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPropertiesValuesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from COMMODITY_PROPERTIES_VALUES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from COMMODITY_PROPERTIES_VALUES
    where commodity_properties_values_id = #{commodityPropertiesValuesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from COMMODITY_PROPERTIES_VALUES
    where commodity_properties_values_id = #{commodityPropertiesValuesId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPropertiesValuesExample">
    delete from COMMODITY_PROPERTIES_VALUES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPropertiesValues">
    insert into COMMODITY_PROPERTIES_VALUES (commodity_properties_values_id, commodity_properties_id, 
      commodity_properties_values_serial, commodity_properties_value, 
      remark, create_time, update_time
      )
    values (#{commodityPropertiesValuesId,jdbcType=INTEGER}, #{commodityPropertiesId,jdbcType=INTEGER}, 
      #{commodityPropertiesValuesSerial,jdbcType=VARCHAR}, #{commodityPropertiesValue,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPropertiesValues">
    insert into COMMODITY_PROPERTIES_VALUES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commodityPropertiesValuesId != null">
        commodity_properties_values_id,
      </if>
      <if test="commodityPropertiesId != null">
        commodity_properties_id,
      </if>
      <if test="commodityPropertiesValuesSerial != null">
        commodity_properties_values_serial,
      </if>
      <if test="commodityPropertiesValue != null">
        commodity_properties_value,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commodityPropertiesValuesId != null">
        #{commodityPropertiesValuesId,jdbcType=INTEGER},
      </if>
      <if test="commodityPropertiesId != null">
        #{commodityPropertiesId,jdbcType=INTEGER},
      </if>
      <if test="commodityPropertiesValuesSerial != null">
        #{commodityPropertiesValuesSerial,jdbcType=VARCHAR},
      </if>
      <if test="commodityPropertiesValue != null">
        #{commodityPropertiesValue,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPropertiesValuesExample" resultType="java.lang.Integer">
    select count(*) from COMMODITY_PROPERTIES_VALUES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update COMMODITY_PROPERTIES_VALUES
    <set>
      <if test="record.commodityPropertiesValuesId != null">
        commodity_properties_values_id = #{record.commodityPropertiesValuesId,jdbcType=INTEGER},
      </if>
      <if test="record.commodityPropertiesId != null">
        commodity_properties_id = #{record.commodityPropertiesId,jdbcType=INTEGER},
      </if>
      <if test="record.commodityPropertiesValuesSerial != null">
        commodity_properties_values_serial = #{record.commodityPropertiesValuesSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityPropertiesValue != null">
        commodity_properties_value = #{record.commodityPropertiesValue,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update COMMODITY_PROPERTIES_VALUES
    set commodity_properties_values_id = #{record.commodityPropertiesValuesId,jdbcType=INTEGER},
      commodity_properties_id = #{record.commodityPropertiesId,jdbcType=INTEGER},
      commodity_properties_values_serial = #{record.commodityPropertiesValuesSerial,jdbcType=VARCHAR},
      commodity_properties_value = #{record.commodityPropertiesValue,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPropertiesValues">
    update COMMODITY_PROPERTIES_VALUES
    <set>
      <if test="commodityPropertiesId != null">
        commodity_properties_id = #{commodityPropertiesId,jdbcType=INTEGER},
      </if>
      <if test="commodityPropertiesValuesSerial != null">
        commodity_properties_values_serial = #{commodityPropertiesValuesSerial,jdbcType=VARCHAR},
      </if>
      <if test="commodityPropertiesValue != null">
        commodity_properties_value = #{commodityPropertiesValue,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where commodity_properties_values_id = #{commodityPropertiesValuesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPropertiesValues">
    update COMMODITY_PROPERTIES_VALUES
    set commodity_properties_id = #{commodityPropertiesId,jdbcType=INTEGER},
      commodity_properties_values_serial = #{commodityPropertiesValuesSerial,jdbcType=VARCHAR},
      commodity_properties_value = #{commodityPropertiesValue,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where commodity_properties_values_id = #{commodityPropertiesValuesId,jdbcType=INTEGER}
  </update>
</mapper>