<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newcore.electronic.commerce.atom.persistence.generate.CommodityPlanTypeMapper">
  <resultMap id="BaseResultMap" type="com.newcore.electronic.commerce.base.model.generate.CommodityPlanType">
    <id column="commodity_plan_type_id" jdbcType="INTEGER" property="commodityPlanTypeId" />
    <result column="commodity_id" jdbcType="INTEGER" property="commodityId" />
    <result column="commodity_plan_type_serial" jdbcType="INTEGER" property="commodityPlanTypeSerial" />
    <result column="commodity_plan_type_name" jdbcType="VARCHAR" property="commodityPlanTypeName" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    commodity_plan_type_id, commodity_id, commodity_plan_type_serial, commodity_plan_type_name, 
    del_flag, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPlanTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from COMMODITY_PLAN_TYPE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from COMMODITY_PLAN_TYPE
    where commodity_plan_type_id = #{commodityPlanTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from COMMODITY_PLAN_TYPE
    where commodity_plan_type_id = #{commodityPlanTypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPlanTypeExample">
    delete from COMMODITY_PLAN_TYPE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPlanType">
    insert into COMMODITY_PLAN_TYPE (commodity_plan_type_id, commodity_id, 
      commodity_plan_type_serial, commodity_plan_type_name, 
      del_flag, create_time, update_time
      )
    values (#{commodityPlanTypeId,jdbcType=INTEGER}, #{commodityId,jdbcType=INTEGER}, 
      #{commodityPlanTypeSerial,jdbcType=INTEGER}, #{commodityPlanTypeName,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPlanType">
    insert into COMMODITY_PLAN_TYPE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commodityPlanTypeId != null">
        commodity_plan_type_id,
      </if>
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="commodityPlanTypeSerial != null">
        commodity_plan_type_serial,
      </if>
      <if test="commodityPlanTypeName != null">
        commodity_plan_type_name,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commodityPlanTypeId != null">
        #{commodityPlanTypeId,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="commodityPlanTypeSerial != null">
        #{commodityPlanTypeSerial,jdbcType=INTEGER},
      </if>
      <if test="commodityPlanTypeName != null">
        #{commodityPlanTypeName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPlanTypeExample" resultType="java.lang.Integer">
    select count(*) from COMMODITY_PLAN_TYPE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update COMMODITY_PLAN_TYPE
    <set>
      <if test="record.commodityPlanTypeId != null">
        commodity_plan_type_id = #{record.commodityPlanTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.commodityId != null">
        commodity_id = #{record.commodityId,jdbcType=INTEGER},
      </if>
      <if test="record.commodityPlanTypeSerial != null">
        commodity_plan_type_serial = #{record.commodityPlanTypeSerial,jdbcType=INTEGER},
      </if>
      <if test="record.commodityPlanTypeName != null">
        commodity_plan_type_name = #{record.commodityPlanTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update COMMODITY_PLAN_TYPE
    set commodity_plan_type_id = #{record.commodityPlanTypeId,jdbcType=INTEGER},
      commodity_id = #{record.commodityId,jdbcType=INTEGER},
      commodity_plan_type_serial = #{record.commodityPlanTypeSerial,jdbcType=INTEGER},
      commodity_plan_type_name = #{record.commodityPlanTypeName,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPlanType">
    update COMMODITY_PLAN_TYPE
    <set>
      <if test="commodityId != null">
        commodity_id = #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="commodityPlanTypeSerial != null">
        commodity_plan_type_serial = #{commodityPlanTypeSerial,jdbcType=INTEGER},
      </if>
      <if test="commodityPlanTypeName != null">
        commodity_plan_type_name = #{commodityPlanTypeName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where commodity_plan_type_id = #{commodityPlanTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityPlanType">
    update COMMODITY_PLAN_TYPE
    set commodity_id = #{commodityId,jdbcType=INTEGER},
      commodity_plan_type_serial = #{commodityPlanTypeSerial,jdbcType=INTEGER},
      commodity_plan_type_name = #{commodityPlanTypeName,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where commodity_plan_type_id = #{commodityPlanTypeId,jdbcType=INTEGER}
  </update>
</mapper>