<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newcore.electronic.commerce.atom.persistence.generate.CommodityMapper">
  <resultMap id="BaseResultMap" type="com.newcore.electronic.commerce.base.model.generate.Commodity">
    <id column="commodity_id" jdbcType="INTEGER" property="commodityId" />
    <result column="commodity_num" jdbcType="VARCHAR" property="commodityNum" />
    <result column="commodity_title" jdbcType="VARCHAR" property="commodityTitle" />
    <result column="commodity_name" jdbcType="VARCHAR" property="commodityName" />
    <result column="commodity_belong_type_id" jdbcType="INTEGER" property="commodityBelongTypeId" />
    <result column="commodity_belong_brand_id" jdbcType="INTEGER" property="commodityBelongBrandId" />
    <result column="commodity_price" jdbcType="DECIMAL" property="commodityPrice" />
    <result column="commodity_repertory" jdbcType="INTEGER" property="commodityRepertory" />
    <result column="commodity_status" jdbcType="INTEGER" property="commodityStatus" />
    <result column="commodity_desc" jdbcType="VARCHAR" property="commodityDesc" />
    <result column="commodity_click_times" jdbcType="INTEGER" property="commodityClickTimes" />
    <result column="commodity_keyword" jdbcType="VARCHAR" property="commodityKeyword" />
    <result column="commodity_main_pic" jdbcType="INTEGER" property="commodityMainPic" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    commodity_id, commodity_num, commodity_title, commodity_name, commodity_belong_type_id, 
    commodity_belong_brand_id, commodity_price, commodity_repertory, commodity_status, 
    commodity_desc, commodity_click_times, commodity_keyword, commodity_main_pic, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from COMMODITY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from COMMODITY
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from COMMODITY
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityExample">
    delete from COMMODITY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.newcore.electronic.commerce.base.model.generate.Commodity">
    insert into COMMODITY (commodity_id, commodity_num, commodity_title, 
      commodity_name, commodity_belong_type_id, commodity_belong_brand_id, 
      commodity_price, commodity_repertory, commodity_status, 
      commodity_desc, commodity_click_times, commodity_keyword, 
      commodity_main_pic, create_time, update_time
      )
    values (#{commodityId,jdbcType=INTEGER}, #{commodityNum,jdbcType=VARCHAR}, #{commodityTitle,jdbcType=VARCHAR}, 
      #{commodityName,jdbcType=VARCHAR}, #{commodityBelongTypeId,jdbcType=INTEGER}, #{commodityBelongBrandId,jdbcType=INTEGER}, 
      #{commodityPrice,jdbcType=DECIMAL}, #{commodityRepertory,jdbcType=INTEGER}, #{commodityStatus,jdbcType=INTEGER}, 
      #{commodityDesc,jdbcType=VARCHAR}, #{commodityClickTimes,jdbcType=INTEGER}, #{commodityKeyword,jdbcType=VARCHAR}, 
      #{commodityMainPic,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.newcore.electronic.commerce.base.model.generate.Commodity">
    insert into COMMODITY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="commodityNum != null">
        commodity_num,
      </if>
      <if test="commodityTitle != null">
        commodity_title,
      </if>
      <if test="commodityName != null">
        commodity_name,
      </if>
      <if test="commodityBelongTypeId != null">
        commodity_belong_type_id,
      </if>
      <if test="commodityBelongBrandId != null">
        commodity_belong_brand_id,
      </if>
      <if test="commodityPrice != null">
        commodity_price,
      </if>
      <if test="commodityRepertory != null">
        commodity_repertory,
      </if>
      <if test="commodityStatus != null">
        commodity_status,
      </if>
      <if test="commodityDesc != null">
        commodity_desc,
      </if>
      <if test="commodityClickTimes != null">
        commodity_click_times,
      </if>
      <if test="commodityKeyword != null">
        commodity_keyword,
      </if>
      <if test="commodityMainPic != null">
        commodity_main_pic,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commodityId != null">
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="commodityNum != null">
        #{commodityNum,jdbcType=VARCHAR},
      </if>
      <if test="commodityTitle != null">
        #{commodityTitle,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null">
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityBelongTypeId != null">
        #{commodityBelongTypeId,jdbcType=INTEGER},
      </if>
      <if test="commodityBelongBrandId != null">
        #{commodityBelongBrandId,jdbcType=INTEGER},
      </if>
      <if test="commodityPrice != null">
        #{commodityPrice,jdbcType=DECIMAL},
      </if>
      <if test="commodityRepertory != null">
        #{commodityRepertory,jdbcType=INTEGER},
      </if>
      <if test="commodityStatus != null">
        #{commodityStatus,jdbcType=INTEGER},
      </if>
      <if test="commodityDesc != null">
        #{commodityDesc,jdbcType=VARCHAR},
      </if>
      <if test="commodityClickTimes != null">
        #{commodityClickTimes,jdbcType=INTEGER},
      </if>
      <if test="commodityKeyword != null">
        #{commodityKeyword,jdbcType=VARCHAR},
      </if>
      <if test="commodityMainPic != null">
        #{commodityMainPic,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.newcore.electronic.commerce.base.model.generate.CommodityExample" resultType="java.lang.Integer">
    select count(*) from COMMODITY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update COMMODITY
    <set>
      <if test="record.commodityId != null">
        commodity_id = #{record.commodityId,jdbcType=INTEGER},
      </if>
      <if test="record.commodityNum != null">
        commodity_num = #{record.commodityNum,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityTitle != null">
        commodity_title = #{record.commodityTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityName != null">
        commodity_name = #{record.commodityName,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityBelongTypeId != null">
        commodity_belong_type_id = #{record.commodityBelongTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.commodityBelongBrandId != null">
        commodity_belong_brand_id = #{record.commodityBelongBrandId,jdbcType=INTEGER},
      </if>
      <if test="record.commodityPrice != null">
        commodity_price = #{record.commodityPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.commodityRepertory != null">
        commodity_repertory = #{record.commodityRepertory,jdbcType=INTEGER},
      </if>
      <if test="record.commodityStatus != null">
        commodity_status = #{record.commodityStatus,jdbcType=INTEGER},
      </if>
      <if test="record.commodityDesc != null">
        commodity_desc = #{record.commodityDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityClickTimes != null">
        commodity_click_times = #{record.commodityClickTimes,jdbcType=INTEGER},
      </if>
      <if test="record.commodityKeyword != null">
        commodity_keyword = #{record.commodityKeyword,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityMainPic != null">
        commodity_main_pic = #{record.commodityMainPic,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update COMMODITY
    set commodity_id = #{record.commodityId,jdbcType=INTEGER},
      commodity_num = #{record.commodityNum,jdbcType=VARCHAR},
      commodity_title = #{record.commodityTitle,jdbcType=VARCHAR},
      commodity_name = #{record.commodityName,jdbcType=VARCHAR},
      commodity_belong_type_id = #{record.commodityBelongTypeId,jdbcType=INTEGER},
      commodity_belong_brand_id = #{record.commodityBelongBrandId,jdbcType=INTEGER},
      commodity_price = #{record.commodityPrice,jdbcType=DECIMAL},
      commodity_repertory = #{record.commodityRepertory,jdbcType=INTEGER},
      commodity_status = #{record.commodityStatus,jdbcType=INTEGER},
      commodity_desc = #{record.commodityDesc,jdbcType=VARCHAR},
      commodity_click_times = #{record.commodityClickTimes,jdbcType=INTEGER},
      commodity_keyword = #{record.commodityKeyword,jdbcType=VARCHAR},
      commodity_main_pic = #{record.commodityMainPic,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.newcore.electronic.commerce.base.model.generate.Commodity">
    update COMMODITY
    <set>
      <if test="commodityNum != null">
        commodity_num = #{commodityNum,jdbcType=VARCHAR},
      </if>
      <if test="commodityTitle != null">
        commodity_title = #{commodityTitle,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null">
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityBelongTypeId != null">
        commodity_belong_type_id = #{commodityBelongTypeId,jdbcType=INTEGER},
      </if>
      <if test="commodityBelongBrandId != null">
        commodity_belong_brand_id = #{commodityBelongBrandId,jdbcType=INTEGER},
      </if>
      <if test="commodityPrice != null">
        commodity_price = #{commodityPrice,jdbcType=DECIMAL},
      </if>
      <if test="commodityRepertory != null">
        commodity_repertory = #{commodityRepertory,jdbcType=INTEGER},
      </if>
      <if test="commodityStatus != null">
        commodity_status = #{commodityStatus,jdbcType=INTEGER},
      </if>
      <if test="commodityDesc != null">
        commodity_desc = #{commodityDesc,jdbcType=VARCHAR},
      </if>
      <if test="commodityClickTimes != null">
        commodity_click_times = #{commodityClickTimes,jdbcType=INTEGER},
      </if>
      <if test="commodityKeyword != null">
        commodity_keyword = #{commodityKeyword,jdbcType=VARCHAR},
      </if>
      <if test="commodityMainPic != null">
        commodity_main_pic = #{commodityMainPic,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newcore.electronic.commerce.base.model.generate.Commodity">
    update COMMODITY
    set commodity_num = #{commodityNum,jdbcType=VARCHAR},
      commodity_title = #{commodityTitle,jdbcType=VARCHAR},
      commodity_name = #{commodityName,jdbcType=VARCHAR},
      commodity_belong_type_id = #{commodityBelongTypeId,jdbcType=INTEGER},
      commodity_belong_brand_id = #{commodityBelongBrandId,jdbcType=INTEGER},
      commodity_price = #{commodityPrice,jdbcType=DECIMAL},
      commodity_repertory = #{commodityRepertory,jdbcType=INTEGER},
      commodity_status = #{commodityStatus,jdbcType=INTEGER},
      commodity_desc = #{commodityDesc,jdbcType=VARCHAR},
      commodity_click_times = #{commodityClickTimes,jdbcType=INTEGER},
      commodity_keyword = #{commodityKeyword,jdbcType=VARCHAR},
      commodity_main_pic = #{commodityMainPic,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </update>
</mapper>